<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>removed fish</title>
</head>

<style>
    html{
		background-image: url(https://www.pngmart.com/files/3/Bubbles-PNG-Transparent-Picture.png);
		background-color:  rgb(0, 213, 255);
		background-size: cover;
	}

	#spongebob_sad{
		max-width: 30%;
		margin-top: 1rem;
		margin-left: 35%;
	}

</style>

<body class="remove_page">
	<h1>all fish have been removed</h1>
	<div>
        <p>you have removed all fish orders from the database.</p>
        <br>
        <br>
        <a id = "fish_link" href = "/">fish shop home</a><br>
	</div>
	<img src="https://i.kym-cdn.com/photos/images/newsfeed/002/213/963/293.jpg" alt="spongebob_sad" id="spongebob_sad">

</body>

</html>
