<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fish Shop</title>
</head>

<style>

    html{
        background-image: url(https://www.nicepng.com/png/full/1-17987_bubbles-png.png);
        background-position: center center;
        background-color: aqua;
        
    }

    body{
        border: 0.4rem solid blue;
        padding-left: 1rem;
    }

    h1{
        text-decoration: underline;
    }

    #order_fish{
        border-bottom: 0.2rem solid rgb(0, 126, 128);
        margin-right: 1rem;
    }

    #review_fish_order{
        border-bottom: 0.2rem solid rgb(0, 126, 128);
        margin-right: 1rem;
    }

    #remove_fish{
        border-bottom: 0.2rem solid rgb(0, 126, 128);
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    #joel{
        float: right; 
    }

    #holymoly{
        max-width: 10%;
        float: right;
        margin-top: 1%;
    }

    
</style>


<body class="main_page">
    <img src="https://media.tenor.com/ybltK0OLjrAAAAAi/joel-spin.gif" alt="joel" id="joel">
    <img src="https://media.tenor.com/TmvqZuZdfqQAAAAC/holy-moly-holy.gif" alt="holymoly" id="holymoly">
	<h1>welcome to silly fish shop</h1> 

    <div id = "order_fish">
        <h2>
            order a silly fish today !
        </h2>
        <p>order any kind of fish and we will get it to you!</p>
        <h4 id = "fish_link"><a href = "/orderFish">ORDER</a></h4>
    </div>

    <div id = review_fish_order>
        <h2> 
            review silly fish order !
        </h2>
        <p>if you have ordered a silly fish, review your order here! </p>
        <h4 id = "fish_link"><a href = "/reviewFishOrder">Review Order</a></h4>
    </div>

    <div id = "remove_fish">
        <h2>
            remove all fish orders here
        </h2>
        <p>why would you do this. now these fish don't have homes</p>
        <h4 id = "fish_link"><a href = "/removeFish">Review Order</a></h4>
    </div>
</body>

</html>
